[submodule "ext/coraxlib"]
	path = ext/coraxlib
	url = https://codeberg.org/Exelixis-Lab/coraxlib.git
[submodule "ext/MPIScheduler"]
	path = ext/MPIScheduler
	url = https://github.com/BenoitMorel/MPIScheduler.git
